@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 3, ../scss/partials/_base.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  display: none;
}

/* line 11, ../scss/partials/_base.scss */
.overlay.show {
  display: block;
}

/* line 15, ../scss/partials/_base.scss */
#messages {
  display: inline-block;
  float: left;
}

/* line 20, ../scss/partials/_base.scss */
a .fa.fa-comments-o {
  padding: 0.5em;
  padding-top: 0.3em;
  color: white;
}

/* line 28, ../scss/partials/_base.scss */
* {
  margin: 0;
  padding: 0;
}

/* Overall settings */
/* menu settings */
/* line 36, ../scss/partials/_base.scss */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  clear: both;
  height: 54px;
}

/* line 44, ../scss/partials/_base.scss */
nav span.title {
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* line 52, ../scss/partials/_base.scss */
#hamburger {
  display: inline-block;
  width: 20px;
  height: 20px;
  transition: .25s ease-in-out;
  padding: 1em;
  float: right;
}

/* line 61, ../scss/partials/_base.scss */
#hamburger:hover {
  cursor: pointer;
}

/* line 65, ../scss/partials/_base.scss */
#hamburger span {
  display: block;
  position: relative;
  width: 100%;
  height: 5%;
  margin-bottom: 35%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* line 81, ../scss/partials/_base.scss */
#hamburger #topbar {
  top: 0;
  left: 0;
}

/* line 86, ../scss/partials/_base.scss */
#hamburger #botbar {
  top: 0;
  left: 0;
  margin-bottom: 0;
}

/* line 92, ../scss/partials/_base.scss */
#hamburger.open {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* line 100, ../scss/partials/_base.scss */
#hamburger.open #topbar {
  position: relative;
  left: 30%;
  top: 18%;
  width: 45%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 111, ../scss/partials/_base.scss */
#hamburger.open #botbar {
  position: relative;
  left: 30%;
  top: -18%;
  width: 45%;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* line 122, ../scss/partials/_base.scss */
#barater {
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 300px;
  transition: opacity .5s;
}

/* line 131, ../scss/partials/_base.scss */
#barater p {
  text-align: center;
  padding: 0.5em 0 3em 0;
}

/* line 136, ../scss/partials/_base.scss */
#barater.show {
  opacity: 1;
}

/* line 140, ../scss/partials/_base.scss */
#barater li {
  border-top: 1px solid;
  padding: 1em;
}

/* line 146, ../scss/partials/_base.scss */
#barater a {
  display: block;
  text-decoration: none;
}

/* line 151, ../scss/partials/_base.scss */
#barater .fa {
  float: left;
  padding-right: 1em;
}

/* line 156, ../scss/partials/_base.scss */
#barater img {
  display: block;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  margin: 0 auto;
  padding: 1em;
}

/* line 166, ../scss/partials/_base.scss */
#barater i {
  width: 25px;
  text-align: center;
}

/* line 171, ../scss/partials/_base.scss */
#menu {
  position: fixed;
  top: 54px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity .50s ease-in-out;
  z-index: -1;
}

/* line 182, ../scss/partials/_base.scss */
#menu.show {
  opacity: 1;
  z-index: 20;
}

/* line 187, ../scss/partials/_base.scss */
#menu ul {
  margin: 0 auto;
  list-style: none;
}

/* line 192, ../scss/partials/_base.scss */
#menu ul li {
  border-bottom: 1px solid;
  padding: 0.5em;
  font-size: 1.125em;
}

/* line 198, ../scss/partials/_base.scss */
#menu ul li i {
  /*float: left;*/
  padding: 0.3em;
  padding-right: 1em;
  text-align: center;
  width: 32px;
  height: 32px;
  /*margin: 0 auto;*/
}

/* line 208, ../scss/partials/_base.scss */
#menu ul li:last-child {
  border-bottom: none;
}

/* line 212, ../scss/partials/_base.scss */
#menu ul li a {
  text-decoration: none;
  transition: color 0.5s;
}

/* line 217, ../scss/partials/_base.scss */
#menu ul li a:hover {
  color: red;
}

/* line 221, ../scss/partials/_base.scss */
.noscroll {
  overflow: hidden;
}

/* line 225, ../scss/partials/_base.scss */
.clearfix:after {
  content: " ";
  /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/* line 233, ../scss/partials/_base.scss */
div.title {
  padding: 1em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  margin-bottom: 1em;
}

/* line 240, ../scss/partials/_base.scss */
div.title .fa-plus {
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  line-height: 24px;
  text-align: center;
}

/* line 250, ../scss/partials/_base.scss */
.right {
  float: right;
}

/* line 254, ../scss/partials/_base.scss */
main {
  padding: 1em;
  margin-top: 54px;
}

/* line 259, ../scss/partials/_base.scss */
main p {
  text-align: justify;
}

/* line 263, ../scss/partials/_base.scss */
h1, h2, h3, h4 {
  margin-bottom: 1em;
}

/* List */
/* line 269, ../scss/partials/_base.scss */
.list a {
  text-decoration: none;
}

/* line 274, ../scss/partials/_base.scss */
.list ul {
  list-style: none;
}

/* line 278, ../scss/partials/_base.scss */
.list ul li ul {
  margin-bottom: 1px;
  padding: 0.5em;
}

/* line 283, ../scss/partials/_base.scss */
.list ul li ul li ul li {
  float: right;
  clear: both;
  font-size: 0.875em;
}

/* line 289, ../scss/partials/_base.scss */
.list ul li ul li ul li:first-child {
  font-size: 1em;
}

/* line 293, ../scss/partials/_base.scss */
.detail {
  columns: 2;
}

/* line 297, ../scss/partials/_base.scss */
.list img {
  max-height: 50px;
  max-width: 105px;
  line-height: 82px;
  float: left;
}

/* line 1, ../scss/partials/_colors.scss */
body {
  background-color: #e0e0e0;
}

/* line 6, ../scss/partials/_colors.scss */
#barater {
  background-color: #fafafa;
  color: #9e9e9e;
}
/* line 10, ../scss/partials/_colors.scss */
#barater a {
  color: #9e9e9e;
}
/* line 14, ../scss/partials/_colors.scss */
#barater li {
  border-top-color: #e0e0e0;
}

/* line 21, ../scss/partials/_colors.scss */
nav {
  background-color: #4e78b8;
}
/* line 24, ../scss/partials/_colors.scss */
nav span.title {
  color: #ffffff;
}
/* line 30, ../scss/partials/_colors.scss */
nav #messages a .fa.fa-comments-o {
  color: #ffffff;
}

/* line 38, ../scss/partials/_colors.scss */
#menu {
  background-color: white;
}
/* line 41, ../scss/partials/_colors.scss */
#menu ul li {
  border-bottom-color: #e0e0e0;
}
/* line 44, ../scss/partials/_colors.scss */
#menu ul li a {
  color: #9e9e9e;
}
/* line 48, ../scss/partials/_colors.scss */
#menu ul li i {
  color: #9e9e9e;
}

/* line 55, ../scss/partials/_colors.scss */
#hamburger span {
  background-color: #ffffff;
}

/* line 61, ../scss/partials/_colors.scss */
.overlay {
  background-color: #000000;
}

/* line 65, ../scss/partials/_colors.scss */
div.title {
  background-color: #ffffff;
  color: #4e78b8;
}
/* line 69, ../scss/partials/_colors.scss */
div.title .fa-plus {
  background-color: #e7decf;
  color: #4e78b8;
}

/* line 80, ../scss/partials/_colors.scss */
.list ul li ul {
  background-color: #ffffff;
}
/* line 87, ../scss/partials/_colors.scss */
.list ul li ul li ul li {
  color: #9e9e9e;
}
/* line 91, ../scss/partials/_colors.scss */
.list ul li ul li ul li:first-child {
  color: #4e78b8;
}

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
/* line 12, ../scss/partials/_normalize.scss */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 25, ../scss/partials/_normalize.scss */
body {
  margin: 0;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 33, ../scss/partials/_normalize.scss */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 47, ../scss/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
/* line 60, ../scss/partials/_normalize.scss */
figcaption,
figure,
main {
  /* 1 */
  display: block;
}

/**
 * Add the correct margin in IE 8.
 */
/* line 70, ../scss/partials/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 79, ../scss/partials/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 90, ../scss/partials/_normalize.scss */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
/* line 103, ../scss/partials/_normalize.scss */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../scss/partials/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../scss/partials/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../scss/partials/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 142, ../scss/partials/_normalize.scss */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 153, ../scss/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 161, ../scss/partials/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 170, ../scss/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 179, ../scss/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 187, ../scss/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 191, ../scss/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 202, ../scss/partials/_normalize.scss */
audio,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 211, ../scss/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 220, ../scss/partials/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 228, ../scss/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
/* line 240, ../scss/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
/* line 256, ../scss/partials/_normalize.scss */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
/* line 266, ../scss/partials/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
/* line 277, ../scss/partials/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 288, ../scss/partials/_normalize.scss */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 300, ../scss/partials/_normalize.scss */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
/* line 311, ../scss/partials/_normalize.scss */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 322, ../scss/partials/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 336, ../scss/partials/_normalize.scss */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 345, ../scss/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 354, ../scss/partials/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 364, ../scss/partials/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
/* line 374, ../scss/partials/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
/* line 383, ../scss/partials/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
/* line 393, ../scss/partials/_normalize.scss */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
/* line 406, ../scss/partials/_normalize.scss */
details,
menu {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
/* line 415, ../scss/partials/_normalize.scss */
summary {
  display: list-item;
}

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
/* line 426, ../scss/partials/_normalize.scss */
canvas {
  display: inline-block;
}

/**
 * Add the correct display in IE.
 */
/* line 434, ../scss/partials/_normalize.scss */
template {
  display: none;
}

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
/* line 445, ../scss/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 3, ../scss/partials/_typography.scss */
body {
  font-family: 'Open Sans', sans-serif;
}
